@font-face {
  font-family: 'Blinker';
  src: url('/fonts/Blinker/Blinker-Regular.ttf');
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend/Lexend-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Wallpoet';
  src: url('/fonts/Wallpoet/Wallpoet-Regular.ttf');
}

@font-face {
  font-family: 'digital-bold';
  src: url('/fonts/digital/digital_bold.ttf');
}

@font-face {
  font-family: 'Goldman';
  src: url('/fonts/Goldman/Goldman-Regular.ttf');
}

@font-face {
  font-family: 'Caskaydia';
  src: url('/fonts/CascadiaCode/CaskaydiaCoveNerdFont-Regular.ttf');
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Caskaydia', sans-serif;
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: white;
}
